<?xml version="1.0"?>
<config>
    <modules>
        <Tentura_Statusdescription>
            <version>0.1.0</version>
        </Tentura_Statusdescription>
    </modules>
    <admin>
        <routers>
        	<adminhtml>
                <args>
                    <modules>
                        <Tentura_Statusdescription before="Mage_Adminhtml">Tentura_Statusdescription</Tentura_Statusdescription>
                    </modules>
                </args>
            </adminhtml>
        	<statusdescription>
				<use>admin</use>
				<args>
					<module>Tentura_Statusdescription</module>
					<frontName>statusdescription</frontName>
				</args>
			</statusdescription>
        </routers>
    </admin>
    <default>
       <design>
            <admin>
                <theme>custom</theme>
             </admin>
        </design>
    </default>
    <global>
    	<events>
	      <adminhtml_controller_action_predispatch_start>
	        <observers>
	          <statusdescription_observer>
	            <type>singleton</type>
	            <class>Tentura_Statusdescription_Controller_Observer</class>
	            <method>overrideTheme</method>
	          </statusdescription_observer>
	        </observers>
	      </adminhtml_controller_action_predispatch_start>      
	    </events>
        <models>
        	 <statusdescriptioncontroller>
             	<class>Tentura_Statusdescription_Controller</class>
        	</statusdescriptioncontroller>
            <statusdescription>
                <class>Tentura_Statusdescription_Model</class>
                <resourceModel>statusdescription_mysql4</resourceModel>
            </statusdescription>
            <statusdescription_mysql4>
                <class>Tentura_Statusdescription_Model_Mysql4</class>
            </statusdescription_mysql4>
        </models>
        <resources>
            <statusdescription_setup>
                <setup>
                    <module>Tentura_Statusdescription</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </statusdescription_setup>
            <statusdescription_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </statusdescription_write>
            <statusdescription_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </statusdescription_read>
        </resources>
        <blocks>
            <statusdescription>
                <class>Tentura_Statusdescription_Block</class>
            </statusdescription>
            <adminhtml>
            	<rewrite>
            		<sales_order_status_new_form>Tentura_Statusdescription_Block_Adminhtml_Sales_Order_Status_New_Form</sales_order_status_new_form>
            		<sales_order_status_edit_form>Tentura_Statusdescription_Block_Adminhtml_Sales_Order_Status_Edit_Form</sales_order_status_edit_form>
            	</rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <statusdescription>
                <class>Tentura_Statusdescription_Helper</class>
            </statusdescription>
        </helpers>
    </global>
</config>